//Variabler bruges til at gemme værdier for tal, farver, og fonts.
//En variabel defineres med et '$' tegn.

//COLORS
$bgColor1: #291383;
$bgColor2: #255D9F;
$bgColor3: #00A91B;

$primaryColor: #FFF;
$limePrimary: #00FF29;
$greenPrimary: #00977C;
$greenSecondary: #00CD50;
$greenAlternative: #226137;

$transparent: #00000000;
$searchbarColor: #D9D9D9CC;

$favPrimary: #1B783A;
$favSecondary: #00000077;
$favText: #7EEB90;

