//Variabler bruges til at gemme værdier for tal, farver, og fonts.
//En variabel defineres med et '$' tegn.
$primaryColor: #fff;
$limePrimary: #00FF29;
$greenPrimary: #00977C;
$greenSecondary: #00CD50;
$greenAlternative: #226137;

$bgColor1: #291383;
$bgColor2: #255d9f;
$bgColor3: #00a91b;

