//Variabler bruges til at gemme værdier for tal, farver, og fonts.
//En variabel defineres med et '$' tegn.
$primaryColor: #fff;
$limePrimary: #00FF29;

$bgColor1: #291383;
$bgColor2: #255d9f;
$bgColor3: #00a91b;

$gradientButton1: #00977C;
$gradientButton2: #00FF29;

