@use "./helpers/placeholders";
@use "./pages/landing";
@use "./pages/browse";
@use "./pages/album";
@use "./pages/song";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

// GLOBAL
html,
body {
    @extend %noMarPad;
    @extend %globalFont;
    height: 100%;

    .container-main {
        padding-top: 4vh;
    }

    h1,
    h2,
    h3,
    p {
        @extend %noMarPad;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
    }
}

