@use "../helpers/mixins" as mx;
@use "../helpers/placeholders";
@use "../helpers/variables" as var;

#browse {
    @extend %gradientSecondaryBG;

    // HEADER
    #topHeader {
        @include mx.flexing(row, 4vw);
        justify-content: center;
        padding: 1rem 0;
        margin-top: -2.3rem;
        width: 100%;
        position: fixed;
        background-color: var.$bgColor2;

        form {
            background-color: var.$searchbarColor;
            max-width: fit-content;
            @include mx.flexing(row, 0);
            border-radius: 30px;
            height: 40px;
            padding-right: 5vw;

            .searchButton {
                position: relative;
                padding: 1rem;
                padding-left: 2rem;
                z-index: 1;

                &:hover {
                    background-color: #67676733;
                }

                button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    opacity: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                img {
                    position: absolute;
                    top: 25%;
                    left: 35%;
                    width: 40%;
                }
            }

            input {
                border: none;
                border-left: 2px solid #67676733;
                background-color: var.$transparent;
                width: 60vw;
                @extend %globalFont;
                font-size: 18px;
                padding-left: 0.5rem;
                &:focus{
                    outline: none;
                    
                }
                &::placeholder {
                    @extend %globalFont;
                    font-size: 18px;
                }
            }
        }

        nav {
            @include mx.flexing(row, 0);
            justify-content: space-between;
            align-items: center;
            position: relative;

            .burger-menu {
                @include mx.flexing(column, 0);
                cursor: pointer;
                z-index: 5;
                transition: transform 0.9s ease;

                span {
                    width: 25px;
                    height: 3px;
                    background-color: var.$primaryColor;
                    margin: 4px 0;
                }
            }

            .burger-menu.active span:first-child {
                transform: rotate(45deg) translate(7.8px, 7.8px);
            }

            .burger-menu.active span:nth-child(2) {
                opacity: 0;
            }

            .burger-menu.active span:last-child {
                transform: rotate(-45deg) translate(7.8px, -7.8px);
            }

            .links-burger {
                @extend %noMarPad;
                list-style: none;
                display: none;
                gap: 1rem;
                flex-direction: column;
                width: 260px;
                text-align: center;
                position: absolute;
                top: -5px;
                left: -10px;
                border-radius: 20px;
                @extend %gradientButton;
                z-index: 3;
                text-shadow: 2px 2px 5px #000;
                box-shadow: 2px 2px 5px var.$favSecondary;

                li {
                    padding: 1rem 0;
                    font-size: 1.3rem;
                }

                a {
                    color: var.$primaryColor;
                    text-decoration: none;
                    padding: 1rem 2rem;
                }
            }

            .active {
                display: flex;
            }
        }
    }

    // MAIN
    main {
        .header-main {
            padding: 3rem 0 1rem;

            h1 {
                text-align: center;
                font-size: 10vw;

                span {
                    color: var.$limePrimary;
                }
            }
        }
        @include mx.flexing(column, 1rem);

        .favorites {
            hgroup {
                @extend %browseHeaders;
            }

            .container-favorites {
                @extend %gradientFavorites;
                @include mx.flexing(row, 1rem);
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                padding: var.$padSpacing;

                &::-webkit-scrollbar {
                    height: 10px;
                    width: 4px;
                    background: var.$transparent;
                }

                &::-webkit-scrollbar-thumb:horizontal {
                    background: var.$favSecondary;
                    border-radius: 10px;
                }

                figure {
                    @extend %noMarPad;

                    img {
                        @extend %coverHover;
                        @include mx.albumImgSizing(40vw, 10px);
                    }

                    figcaption {
                        @include mx.figcapFonting(18px, 15px);
                    }
                }
            }


        }

        .albums {
            padding-bottom: 5vw;

            hgroup {
                @extend %browseHeaders;
            }

            .container-albums {
                @include mx.gridable(3, 1fr, 0.6rem);
                padding: 0 var.$padSpacing;

                figure {
                    @extend %noMarPad;


                    img {
                        @extend %coverHover;
                        @include mx.albumImgSizing(100%, 10px);
                    }

                    figcaption {
                        @include mx.figcapFonting(15px, 12px);
                    }
                }
            }
        }
    }

    footer{
        background-color: var.$bgColor1;
        box-shadow: inset 0px 10px 10px var.$favSecondary;

        h3{
            text-align: center;
            padding-top: 2rem;
        }
        .container-media{
            @include mx.flexing(row, 1rem);
            justify-content: center;
            padding: 1rem 5rem 2rem;
            a{
                width: 50px;
                img{
                    display: block;
                    color: var.$primaryColor;
                    width: 100%;
                }
            }
        }
    }
}

// MEDIA QUERIES

@media (min-width:800px) {
    #browse {
        #topHeader {
            gap: 2vw;
            align-items: center;

            form {

                input {
                    width: 25vw;
                }
            }

            nav {
                align-items: center;
                width: max-content;

                .burger-menu {
                    display: none;
                }

                .links-burger {
                    @include mx.flexing(row, 1vw);
                    list-style: none;
                    width: max-content;
                    position: relative;
                    border-radius: 0px;
                    background: none;
                    margin-top: 0.5rem;
                    box-shadow: none;
                }

                .links-burger li {
                    margin: 0;
                    padding: 0;

                    a {
                        padding: 0.5rem;

                        &:hover {
                            transition: 5ms;
                            border-radius: 0.5rem;
                            background-color: var.$searchbarColor;
                        }
                    }
                }
            }
        }

        main {
            .header-main {
                h1 {
                    font-size: 80px;
                }
            }

            .favorites {
                .container-favorites {
                    &::-webkit-scrollbar {
                        height: 20px;
                    }
                    &::-webkit-scrollbar-thumb:horizontal {
                        border-radius: 10px;
                    }

                    figure {
                        img {
                            @include mx.albumImgSizing(30rem, 10px)
                        }

                        figcaption {
                            @include mx.figcapFonting(30px, 22px);
                        }
                    }
                }
            }


            .albums {
                .container-albums {
                    @include mx.gridable(5, 1fr, 0.6rem);
                    gap: 3rem;
                    padding: 0 var.$padSpacing;

                    figure {
                        img {
                            @include mx.albumImgSizing(100%, 10px);
                        }

                        figcaption {
                            @include mx.figcapFonting(25px, 18px);
                        }
                    }
                }
            }
        }
        footer{
            .container-footer{
                @include mx.flexing(row, 0rem);
                padding: 1rem 1rem 0 1rem;
            }
        }
    }

}