@use "../helpers/mixins" as mx;
@use "../helpers/placeholders";
@use "../helpers/variables" as var;

#browse {
    @extend %gradientBrowseBG;

    // HEADER
    #topHeader {
        display: flex;
        gap: 4vw;
        justify-content: center;
        padding: 1rem;

        form {
            background-color: var.$searchbarColor;
            max-width: fit-content;
            display: flex;
            border-radius: 30px;
            height: 40px;
            padding-right: 5vw;

            .searchButton {
                position: relative;
                padding: 1rem;
                padding-left: 2rem;
                z-index: 1;

                &:hover {
                    background-color: #67676733;
                }

                button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    opacity: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                img {
                    position: absolute;
                    top: 25%;
                    left: 35%;
                    width: 40%;
                }
            }

            input {
                border: none;
                border-left: 2px solid #67676733;
                background-color: var.$transparent;
                width: 60vw;

                &::placeholder {
                    @extend %globalFont;
                    font-size: 14px;
                }
            }
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .burger-menu{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            z-index: 5;
            transition: transform 0.9s ease;
            span{
                width: 25px;
                height: 3px;
                background-color: var.$primaryColor;
                margin: 4px 0;
            }
        }
        .burger-menu.active span:first-child {
            transform: rotate(45deg) translate(7.8px, 7.8px);
        }
        .burger-menu.active span:nth-child(2) {
            opacity: 0;
        }
        .burger-menu.active span:last-child {
            transform: rotate(-45deg) translate(7.8px, -7.8px);
        }
        .links-burger{
            @extend %noMarPad;
            list-style: none;
            display: none;
            gap: 1rem;
            flex-direction: column;
            width: 250px;
            text-align: center;
            position: absolute;
            top: -5px;
            left: -10px;
            border-radius: 20px;
            @extend %gradientButton;
            z-index: 3;
            
            li{
                padding: 1rem 0;
                font-size: 1.3rem;
            }
            a{
                color: var.$primaryColor;
                text-decoration: none;
                padding: 1rem 2rem;
            }
        }
        .active {
            display: flex;
        }
    }

    // MAIN
    main {
        display: flex;
        flex-direction: column;
    }
    .favorites {
        hgroup {
            @extend %browseHeaders;
        }

        .container-favorites {
            @extend %gradientFavorites;
            display: flex;
            gap: 1rem;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            padding: var.$padSpacing;

            figure {
                @extend %noMarPad;
                img {
                    @include mx.albumImgSizing(40vw, 10px);
                }

                figcaption {
                    @include mx.figcapFonting(18px, 15px);
                }
            }
        }


    }
    .albums {
        padding-bottom: 10vw;
        hgroup {
            @extend %browseHeaders;
        }


        .container-albums {
            @include mx.gridable(3, 1fr, 0.6rem);
            padding: 0 var.$padSpacing;

            figure {
                @extend %noMarPad;


                img {

                    @include mx.albumImgSizing(100%, 10px);
                }

                figcaption {
                    @include mx.figcapFonting(15px, 12px);
                }
            }
        }
    }
}

// MEDIA QUERIES

@media (min-width:770px){
    .burger-menu {
        display: none;
    }
    .links-burger {
        display: flex;
    }
    .nav-links li {
        margin: 1rem 0;
    }

    .albums {
        .container-albums {
            @include mx.gridable(3, 1fr, 0.6rem);
            padding: 0 var.$padSpacing;

            figure {
                img {

                    @include mx.albumImgSizing(100%, 10px);
                }

                figcaption {
                    @include mx.figcapFonting(15px, 12px);
                }
            }
        }
    }
    
}